# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scrapper_crypto_follow.settings

[deploy]
#url = https://crypto-follow.herokuapp.com/
project = scrapper_crypto_follow

